.Card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Time {
  display: "flex";
}

.CardInfo {
  display: "flex";
  justify-content: "flex-start";
  flex-direction: "column";
  padding-top: "15px";
  padding-bottom: "15px";
}
